<div id="loginHolder" class="ui middle aligned center aligned grid">
  <br>
  <br>
  <p id="loginHeader" class="ui huge header">Welcome Back<p>
  <div class="ui input">
    <input type="text" placeholder="username" ng-model="credentials.username">
  </div>
  <br>
  <br>
  <div class="ui input">
    <input type="password" class="ui input" placeholder="password" ng-keypress="isEnter($event,login,[])" ng-model="credentials.password">
  </div>
  <br>
  <br>
  <button class="ui button" id="loginButton" ng-click="login()">Submit</button>
  <br>
  <br>
  <p ng-show="badLogin" style="color:red">Incorrect username and/or password</p>
  <a ui-sref="signup">First time? Click here to register</button>
</div>
<!-- <h1>{{test}}</h1> -->