<div id="signup" class="ui middle aligned center aligned grid">
  <div class="column">
  <p id="signupHeader" class="ui huge header">Register<p>
  <div class="ui input">
    <input type="text" placeholder="username" ng-model="newUser.signupUN">
  </div>
  <p ng-show="alreadyRegistered" style="color: red">already registered</p>
  <br>
  <br>
  <div class="ui input">
    <input type="password" placeholder="password" ng-model="newUser.signupPW">
  </div>
  <br>
  <br>
  <div class="ui input">
    <input type="password" placeholder="password" ng-model="passwordTwo">
    <p ng-show="passMatch" style="color: red">Passwords must match</p>
  </div>
  <br>
  <br>
  <div class="ui input">
    <input type="email" placeholder="email" ng-model="email">
  </div>
  <br>
  <br>
  <button id="signupButton" class="ui button" ng-click="signup()">Submit</button>
</div>
</div>