<div id="signup" class="ui middle aligned center aligned grid">
  <div class="column">
  <br>
  <br>
  <p id="signupHeader" class="ui huge header">signup<p>
  <div class="ui input">
    <input type="text" placeholder="username" ng-model="newUser.signupUN">
  </div>
  <br>
  <br>
  <div class="ui input">
    <input type="password" placeholder="password" ng-model="newUser.signupPW">
  </div>
  <br>
  <br>
  <div class="ui input">
    <input type="password" placeholder="password" ng-model="passwordTwo">
  </div>
  <br>
  <br>
  <div class="ui input">
    <input type="email" placeholder="email" ng-model="email">
  </div>
  <br>
  <br>
  <button id="signupButton" class="ui button" ng-click="signup()">signup</button>
</div>
</div>