<div id="stats"class="ui middle aligned center aligned grid">
  <div class="column">
  <p id="statsHeader" class="ui huge header">stats</p>
  <p><a ui-sref="main">back to main</a></p>
  <p>uploads : {{ uploadNumber }} : {{ uploadSize }}</p>
  <p>downloads : {{ downloadNumber }} : {{ downloadSize }}</p>
<!-- get ready for charts

  <canvas id="line" class="chart chart-line" chart-data="data"
  chart-labels="labels" chart-legend="true" chart-series="series"
  chart-click="onClick" >
  </canvas>
 -->
  <ul>
    <li ng-repeat="file in files"></li>
  </ul>
  </div>
</div>