textarea {
   resize: none;
}

#chartHolder {
    width : 90%;
    margin : auto;
}

.messageBoard {
    height: 400px;
    width: 100%;
    color:blue;
    word-wrap: break-word;
    overflow-y: auto;
    border: 1px solid black;
}

#loginHolder {
    display: block;
    margin: 0 auto;
    left: 50%;
    top: 50%;
    text-align: center;
}

#textInput {
    width: 100%;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

#header {
    background-color : black;
    color : white;
}
#header h1 {
    text-align: center;
    font-size : xx-large;
}
#header p {
    text-align : right;
    margin : 10px;
    padding : 10px;
}
#header a {
    color : gray;
}
#header a:hover {
    color : white;
}

.outline {
    border : solid red 1px;
}

.barsWrapper {
    padding : 5px;
}
.wrapperLabel {
    text-align : center;
}

.barWrapper {
    width : 90%;
    margin : auto;
    padding : 5px;
}

.barIndicator {
    background-color : gray;
    color : white;
    text-align : center;
    border-radius : 5px;
    padding : 5px;
}

.barLabel {
    text-align : center;
    color : black;
    padding : 5px;
}

#signupHeader {
        padding-top: 10%;
}

#signupButton:hover {
    background: green;
    color: white;
}

#loginButton:hover {
    background: green;
    color: white;
}